<ons-page class="center white" ng-controller="BusHCMCtrl">

   <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" ng-click="doSomething()">
          A
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="doSomething()">
          B
        </ons-list-item>
         <ons-list-item modifier="chevron" ng-click="doSomething()">
          C
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="doSomething()">
          D
        </ons-list-item>
      </ons-list>
      
</ons-page>